<header id="main_header">
    <h1 id="header_titles"><a href="./index.html">Crossed<br><span class="header_title_alt">up</span></a>
    </h1>
    <nav class="header_nav_bar">
        <ul class="nav_bar">
            <li><a href="https://www.google.com/+Rapha%C3%ABlHo" target="_blank"><i class="fa fa-google-plus-square fa-2x"></i></a>
            </li>
            <li><a href="https://www.facebook.com/raphael.ho.73" target="_blank"><i class="fa fa-facebook-square fa-2x"></i></a>
            </li>
            <li><a href="https://github.com/Kyhz/" target="_blank"><i class="fa fa-github-square fa-2x"></i></a>
            </li>
            <li><a href="https://twitter.com/dat_kyhz" target="_blank"><i class="fa fa-twitter-square fa-2x"></i></a>
            </li>
        </ul>
    </nav>
</header>